body h2{
    background-color: rgba(144, 238, 144, 0.199);    
    width:350px ;
    padding: 10px;
    box-shadow: 5px 5px 7px;
    

}
.button{
    background-color:lightgreen;
}
.form{
    background-color: rgba(144, 238, 144, 0.192);
    width: 350px;
    margin:0 auto ;
    padding: 10px;
    box-shadow: 5px 5px 8px black;
}
    body{
        background-image: url('ww.jpg');
        background-size: 1800px;
        background-repeat: no-repeat;
        background-size:cover ;
    }
    
  